 :root {
  --font-main: 'Roboto';
  --max-width-body: 1512px;
  --btn-color: #00798A;
  --hover-color: #005f6b;
  --danger-color: #F65858;
  --border-color: #ccc;
  --text-white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  /* max-width: var(--max-width-body); */
}

   /* ============== HEADER =========================*/

.main_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 26px;
  max-height: 64px;
  max-width: var(--max-width-body);
}

.logo {
  height: 35px;
  width: 119px;
}

.head_container_left,
.head_container_center,
.head_container_right {
  display: flex;
  align-items: center;
}

.head_container_center {
  flex: 1;
  margin: 0 20px;
}

.search_container {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  max-width: 592px;
}

.head_container_center .search_container {
  width: 100%;
}

.search_icon {
  width: 20px;
  margin: 0 8px;
}

.search_container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  max-width: 751px;
}

.location_head {
  padding: 10px;
  border-left: 1px solid var(--border-color);
  /* white-space: nowrap; */
  font-size: 16px;
}

.location_head::placeholder {
  color: rgb(0, 0, 0);
}

.divider {
  width: 1px;
  height: 42px;
  background-color: var(--border-color);
}

.search_button {
  background-color: var(--danger-color);
  border: none;
  padding: 14px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.search_button img {
  width: 16px;
  height: 16px;
}

.head_container_right {
  gap: 16px;
}

.language {
  display: flex;
  align-items: center;
  gap: 6px;
}

#languageSwitcher {
  padding: 5px;
  font-size: 14px;
  border: none;
  outline: none;
}

.login_btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-wrap: nowrap;
}

.signup_btn {
  background-color: var(--btn-color);
  color: var(--text-white);
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
}

.signup_btn:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}

.signup_btn:active {
  transform: translateY(1px);
}

/* ============== HEADER END ==================*/

/* ============ JOIN =================*/

.info_main {
  display: flex;
  justify-content: space-between;
  max-width: 1196px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  
}

.info_main img {
  width: 379px;
  height: 269px;
  margin: 0 auto;
}

 .info_join {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
 }

 .info_join > h1 {
  font-size: 42px;
  line-height: 52px;
  max-width: 601px;
 }

 .info_join p {
  max-width: 590px;
  font-size: 16px;
  line-height: 24px;
  max-width: 609px;
 }

.join_meetup_btn {
  background-color: var(--btn-color);
  color: var(--text-white);
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
  width: 130px;

}

.join_meetup_btn:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}

.join_meetup_btn:active {
  transform: translateY(1px);
}

/* ============================= JOIN END =============== */


/*============================== Cards ========================= */
a {
  text-decoration: none;
  color: #00798A;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* ================= Second header join =================== */
.events_header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  margin: 0 auto;
  max-width: 1196px;
}

.events_header .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  font-weight: bold;
  font-size: 18px;
}

.location_badge {
  background: #97CAD11F;
  border-radius: 8px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.location_text {
  font-weight: 500;
}

.see_all {
  color: #00798A;
  font-weight: 600;
}

/* ================ Cards all grid ================= */
.cards_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  max-width: 1196px;
  margin: 0 auto;
  padding: 30px;
 
 
}

/* ====================== Cards events =================== */

.event_card {
  background: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}

.event_card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.event_card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.event_content {
  padding: 12px;
}

.event_content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.3;
}

.category {
  font-size: 14px;
  color: #5f6368;
  margin-bottom: 6px;
}

.date {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #5f6368;
  gap: 6px;
  margin-bottom: 10px;
}

.date img {
  width: 16px;
  height: 16px;
}

.badges {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.badges img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

/* ================ Online Events =============== */
.online {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1196px;
  padding: 30px;
  bottom: 5px;
}


.online_events {
  font-size: 20px;
  font-weight: 600;
}

.see_all_second {
  font-weight: 600;
  color: #00798A;
}

.upcoming_online_events .event_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  max-width: 1196px;
  margin: 0 auto;
  padding: 30px;
}

.event_card_container .event_card {
  background: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}

.event_card_container .event_card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.event_card_container .event_card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.event_card_container .event_content{
  padding: 12px;
}

.event_card_container .event_content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.3;
}


.event_card_container .event_content .category .date {
  font-size: 14px;
  color: #5f6368;
  margin-bottom: 6px;
}


.event_content .date img {
  width: 16px;
  height: 16px;
}

.event_content .badges {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.event_content .badges img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

/*============================== Cards End ========================= */

/* ================ HANDS UP ===================*/

.hands_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #97CAD114;
  max-width: 1162px;
  margin: 0 auto;
  padding: 30px;
  /* margin-top: 50px; */
}

.text_join {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 739px;
  margin: 0 auto;
}


.hands_container span {
  font-size: 28px;
  font-weight: 600;
}

.hands_container p {
  text-align: left;
}

.hands_container .hands_pic {
  margin: 0 auto;
  width: 341px;
  height: 196px;
  padding: 30px;
}

.text_join button {
  width: 192px;
  background-color: #E32359;
  color: #fff;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(229, 57, 53, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.text_join button:hover {
  background-color: #E32359;
  box-shadow: 0 6px 12px rgba(229, 57, 53, 0.5);
  transform: translateY(-2px);
}


/* ================ HANDS UP END ===================*/

/* ================ TOP CATEGORIES ==================*/

.top_categories {
  margin: 0 auto;
  max-width: 1192px;
  padding: 30px;

}

.top_categories span {
  font-size: 28px;
  font-weight: 600;
}

.categories_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1192px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
  gap: 20px;
  
}

.categories_container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #97CAD114;
  border-radius: 8px;
  padding: 5px;
  margin: 0 auto;
  width: 135px;
  height: 112px;
  gap: 10px;
  

}

.categories_container div img {
  width: 20px;
  height: 20px;
}

/* ================ TOP CATEGORIES ==================*/

/* ============= Media ==================*/

@media (max-width: 768px) {
  .location_head {
    display: none;
  }


  .head_container_center {
    margin: 0 10px;
  }

  .search_container {
    border-radius: 6px;
  }

  .search_button {
    border-radius: 0 6px 6px 0;
  }
}


